* {
  /*Sets the sizing for all of the images within the border*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*main background color*/
body {
  background-color: #d9dcd6;
}
/*Sets the font, text size, and background color for the header*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*Hori & n*/
.header h1 {
  display: inline-block;
  font-size: 48px;
}
/*seo*/
.header h1 .seo {
  color: #d9dcd6;
}
/*Header links: Search Enginge op, Online rep, Social media*/
.header nav {
  /* I changed div to nav to make it more semantic and to match the index */
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*Listying style for header links*/
.header nav ul {
  list-style-type: none;
}
/*Positioning between header links*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*Link text color and link style*/
a {
  color: #ffffff;
  text-decoration: none;
}
/*Paragraph font size*/
p {
  font-size: 16px;
}
/* Main Image*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*left image positoning*/
.float-left {
  float: left;
  margin-right: 25px;
}
/*right image positioning*/
.float-right {
  float: right;
  margin-left: 25px;
}
/*Main content positioning*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* Aside section - Lead Generation, Brand awareness, cost management- sets the font and positioning */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*Sets the font color and margin for the Aside headers*/
.benefit-header {
  margin-bottom: 32px;
  color: #ffffff;
}

/*Aside headers*/
.benefit-header h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*Aside images*/
.benefit-header img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Article text boxes */
.article-graphic {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*Article image position*/
.article-graphic img {
  max-height: 200px;
}

/*Article header*/
.article-graphic h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/*Footer elements*/
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*Foooter header*/
.footer h2 {
  font-size: 20px;
}

